In [1]:
import datetime
import numpy as np
import pandas as pd
import random
import time
import json
import requests

pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_columns', None)

In [2]:
'''This stores the default variables with the query dictionaries for the default season of 2019-20'''
payload={
'LastNGames': '0',
'LeagueID':'00',
'Month':'0',
'OpponentTeamID': '0',
'PORound': '0',
'PerMode': 'PerGame',
'Period': '0',
'Season': '2010-11',
'TeamID': '0',
'SeasonType':"Regular Season"
}

headers = {
    'Host': 'stats.nba.com',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:71.0) Gecko/20100101 Firefox/71.0',
    'Accept': 'application/json, text/plain, */*',
    'Accept-Language': 'en-US,en;q=0.5',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Connection': 'keep-alive',
        }

In [3]:
def pull_data(s,payload,headers):
    url='https://stats.nba.com/stats/leaguedashplayerbiostats?'
    with s.get(url,headers=headers,params=payload) as response:
        try:
            assert response.status_code==200
            ret=response.json()
            return ret
        except AssertionError:
            print(response)

In [4]:
'''main body of the program
first determine what years to pull in the loop
second loop thorough those years and return the response with the player data in a dictionary
'''
#first_year=int(input('What is the first year of the season to pull:'))
#last_year=int(input('What is the last year of the season to pull:'))
first_year=int(input('Pick the first season to scrape:'))
last_year=int(input('Pick the last season to scrape:'))
#wait_base=int(input('~how many seconds should the requests take in total?'))
years_to_pull=[x for x in range(first_year,last_year+1)] #create a list with the years to loop through

s= requests.Session()
cnt=0
results={}
for x in years_to_pull:
    season_param=((str(x)+'-'+str((int(x)+1))[2:4]))
    payload['Season']=season_param
    print(f'Currently processing season: {season_param}')
    response= pull_data(s,payload,headers)
    results[cnt]=response
    cnt+=1

Pick the first season to scrape: 1980
Pick the last season to scrape: 2019

1980-81
1981-82
1982-83
1983-84
1984-85
1985-86
1986-87
1987-88
1988-89
1989-90
1990-91
1991-92
1992-93
1993-94
1994-95
1995-96
1996-97
1997-98
1998-99
1999-00
2000-01
2001-02
2002-03
2003-04
2004-05
2005-06
2006-07
2007-08
2008-09
2009-10
2010-11
2011-12
2012-13
2013-14
2014-15
2015-16
2016-17
2017-18
2018-19
2019-20

In [6]:
#setup the column headings for the dataframes
col_headings=results[0]['resultSets'][0]['headers']
#create a dictionary with the season as the key and a list of results as  the value'
data={}
data={results[i]['parameters']['Season']:results[i]['resultSets'][0]['rowSet'] for i in range (len(results))}

In [7]:
'''build a dataframe with player data for each year'''

df_player_bio=pd.DataFrame()

for k,v in data.items():
    df_temp=pd.DataFrame(v,columns=col_headings)
    df_temp['SEASON']=k
    df_player_bio=df_player_bio.append(df_temp)

In [8]:
df_player_bio.to_hdf(f'df_player_bio_data.h5', key='df_player_bio', mode='w',complevel =9,complib='bzip2')

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:2530: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed-integer,key->block1_values] [items->['PLAYER_ID', 'PLAYER_NAME', 'TEAM_ABBREVIATION', 'PLAYER_HEIGHT', 'PLAYER_WEIGHT', 'COLLEGE', 'COUNTRY', 'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'GP', 'SEASON']]

  pytables.to_hdf(path_or_buf, key, self, **kwargs)

In [10]:
df_player_bio.head(15)

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,PLAYER_HEIGHT,PLAYER_HEIGHT_INCHES,PLAYER_WEIGHT,COLLEGE,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GP,PTS,REB,AST,NET_RATING,OREB_PCT,DREB_PCT,USG_PCT,TS_PCT,AST_PCT,SEASON
0,93,None,nan,None,nan,None,nan,None,None,None,Undrafted,Undrafted,Undrafted,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1996-97
1,775,None,nan,None,nan,None,nan,None,None,None,Undrafted,Undrafted,Undrafted,1,0.00,1.00,2.00,-47.40,0.00,0.08,0.10,0.00,0.20,1996-97
2,2179,None,nan,None,nan,None,nan,None,None,None,Undrafted,Undrafted,Undrafted,24,0.00,0.00,0.00,-7.70,0.00,0.00,0.00,0.00,0.00,1996-97
3,1049,None,nan,None,nan,None,nan,None,None,None,Undrafted,Undrafted,Undrafted,1,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1996-97
4,902,None,nan,None,nan,None,nan,None,None,None,Undrafted,Undrafted,Undrafted,1,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1996-97
5,1489,None,nan,None,nan,None,nan,None,None,None,Undrafted,Undrafted,Undrafted,1,5.00,3.00,3.00,9.20,0.00,0.10,0.11,0.43,0.15,1996-97
6,920,A.C. Green,"1,610,612,742.00",DAL,33.00,6-9,81.00,225,Oregon State,USA,1985,1,23,83,7.20,7.90,0.80,-7.40,0.09,0.18,0.12,0.52,0.04,1996-97
7,243,Aaron McKie,"1,610,612,765.00",DET,24.00,6-5,77.00,209,Temple,USA,1994,1,17,83,5.20,2.70,1.90,3.70,0.03,0.11,0.14,0.52,0.16,1996-97
8,1425,Aaron Williams,"1,610,612,763.00",VAN,25.00,6-9,81.00,225,Xavier,USA,Undrafted,Undrafted,Undrafted,33,6.20,4.30,0.50,-9.30,0.11,0.14,0.16,0.60,0.05,1996-97
9,768,Acie Earl,"1,610,612,749.00",MIL,27.00,6-11,83.00,240,Iowa,USA,1993,1,19,47,4.00,2.00,0.40,-6.40,0.07,0.12,0.22,0.43,0.08,1996-97
10,228,Adam Keefe,"1,610,612,762.00",UTA,27.00,6-9,81.00,241,Stanford,USA,1992,1,10,62,3.80,3.50,0.50,7.20,0.10,0.16,0.12,0.57,0.05,1996-97
11,154,Adrian Caldwell,"1,610,612,755.00",PHI,30.00,6-8,80.00,265,Lamar,USA,Undrafted,Undrafted,Undrafted,45,2.20,3.70,0.30,-6.50,0.09,0.18,0.10,0.44,0.03,1996-97
12,673,Alan Henderson,"1,610,612,737.00",ATL,24.00,6-9,81.00,235,Indiana,USA,1995,1,16,30,6.60,3.90,0.80,-7.50,0.10,0.16,0.20,0.51,0.08,1996-97
13,1059,Aleksandar Djordjevic,"1,610,612,757.00",POR,29.00,6-2,74.00,198,None,USA,Undrafted,Undrafted,Undrafted,8,3.10,0.60,0.60,5.10,0.02,0.06,0.17,0.69,0.14,1996-97
14,275,Allan Houston,"1,610,612,752.00",NYK,26.00,6-6,78.00,200,Tennessee,USA,1993,1,11,81,14.80,3.00,2.20,2.00,0.02,0.07,0.22,0.53,0.12,1996-97